node_modules

public/*
!public/resources
!public/.htaccess
!public/index.php
!public/robots.txt
!public/web.config

storage/*.key
vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
